
body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg1, .bgimg2, .bgimg3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg1 {
  background-image: url("Bilder/bgimg1.jpg");
  min-height: 100%;
}

.bgimg2 {
  background-image: url("Bilder/bgimg2.jpg");
  min-height: 400px;
}

<<<<<<< HEAD
.bgimg3 {
  background-image: url("Bilder/bgimg3.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}
=======
/*Paralax Style*/
.parallax, .parallax2 {

  /* The image used */
  background-image: url('Bilder/Backgrund/Fortnite.jpg');
  
>>>>>>> d8a65224621b806c1c4a977c9c202cc7b6036181

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

<<<<<<< HEAD
h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
=======
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

>>>>>>> d8a65224621b806c1c4a977c9c202cc7b6036181
}
/* Next parallax styling */
.parallax2 { 


  /* Sise of the parallax */
  min-height: 100%; 

  /* Img used */
background-image: url('Bilder/Backgrund/FortniteMain.jpg') 
}  
  


/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg1, .bgimg2, .bgimg3 {
        background-attachment: scroll;
    }
}
