

body, html {
  height: 100%;

}


/*Paralax Style*/
.parallax, .parallax2, .parallax3 {

  /* The image used */
  background-image: url('Bilder/Backgrund/Fortnite.jpg');
  

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.parallax2 {  
min-height: 100%; 

background-image: url('Bilder/Backgrund/FortniteMain.jpg')
}


.parallax3 { 
  min-height: 100%;

background-image: url('Bilder/Vapen/A-Team.jpg')

}

