html{
    height: 100%;
  }
  
  body{
    background-image: url("/Bilder/wp2366065.jpg");
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%; 
  }
  
  